# Assignment 1
All questions are weighted the same in this assignment.
## Part 1
The following code loads the olympics dataset (olympics.csv), which was derrived from the Wikipedia entry on [All Time Olympic Games Medals](https://en.wikipedia.org/wiki/All-time_Olympic_Games_medal_table), and does some basic data cleaning. 

The columns are organized as # of Summer games, Summer medals, # of Winter games, Winter medals, total # number of games, total # of medals. Use this dataset to answer the questions below.

In [1]:
import pandas as pd

df = pd.read_csv('olympics.csv', index_col=0, skiprows=1)

for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold'+col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver'+col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze'+col[4:]}, inplace=True)
    if col[:1]=='â„–':
        df.rename(columns={col:'#'+col[1:]}, inplace=True)

names_ids = df.index.str.split('\s\(') # split the index by '('

df.index = names_ids.str[0] # the [0] element is the country name (new index) 
df['ID'] = names_ids.str[1].str[:3] # the [1] element is the abbreviation or ID (take first 3 characters from that)

df = df.drop('Totals')
df.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ

### Question 0 (Example)

What is the first country in df?

*This function should return a Series.*

In [3]:
# You should write your whole answer within the function provided. The autograder will call
# this function and compare the return value against the correct solution value
def answer_zero():
    # This function returns the row for Afghanistan, which is a Series object. The assignment
    # question description will tell you the general format the autograder is expecting
    return df.iloc[0]

# You can examine what your function returns by calling it in the cell. If you have questions
# about the assignment formats, check out the discussion forums for any FAQs"
answer_zero()

# Summer           13
Gold                0
Silver              0
Bronze              2
Total               2
# Winter            0
Gold.1              0
Silver.1            0
Bronze.1            0
Total.1             0
# Games            13
Gold.2              0
Silver.2            0
Bronze.2            2
Combined total      2
ID                AFG
Name: Afghanistan, dtype: object

### Question 1
Which country has won the least gold medals in summer games?

*This function should return a single string value.*

In [4]:
def answer_one():
    subdf= df[df['Gold'] != 0]
    index= subdf[subdf['Gold']== min(subdf['Gold'])]
    return index
answer_one()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM
Burundi,5,1,0,0,1,0,0,0,0,0,5,1,0,0,1,BDI
Costa Rica,14,1,1,2,4,6,0,0,0,0,20,1,1,2,4,CRC
Ecuador,13,1,1,0,2,0,0,0,0,0,13,1,1,0,2,ECU
Grenada,8,1,0,0,1,0,0,0,0,0,8,1,0,0,1,GRN
Hong Kong,15,1,1,1,3,4,0,0,0,0,19,1,1,1,3,HKG
Israel,15,1,1,5,7,6,0,0,0,0,21,1,1,5,7,ISR
Luxembourg,22,1,1,0,2,8,0,2,0,2,30,1,3,0,4,LUX
Mozambique,9,1,0,1,2,0,0,0,0,0,9,1,0,1,2,MOZ
Panama,16,1,0,2,3,0,0,0,0,0,16,1,0,2,3,PAN
Peru,17,1,3,0,4,2,0,0,0,0,19,1,3,0,4,PER
Russian Empire,3,1,4,3,8,0,0,0,0,0,3,1,4,3,8,RU1
Serbia,3,1,2,4,7,2,0,0,0,0,5,1,2,4,7,SRB
Suriname,11,1,0,1,2,0,0,0,0,0,11,1,0,1,2,SUR
Syria,12,1,1,1,3,0,0,0,0,0,12,1,1,1,3,SYR
United Arab Emirates,8,1,0,0,1,0,0,0,0,0,8,1,0,0,1,UAE

### Question 2
Which country had the least difference (don't include 0 difference) between their summer and winter gold medal counts?

*This function should return a single string value.*

In [5]:
def answer_two():
    cp= df.copy()
    cp['Diff']= abs(cp['Gold']-cp['Gold.1'])
    con= cp[cp['Diff'] != 0]
    con= con[con['Diff'] == min(con['Diff'])]
    con= con.drop(columns= ['Diff'])
    return con
answer_two()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM
Burundi,5,1,0,0,1,0,0,0,0,0,5,1,0,0,1,BDI
Costa Rica,14,1,1,2,4,6,0,0,0,0,20,1,1,2,4,CRC
Ecuador,13,1,1,0,2,0,0,0,0,0,13,1,1,0,2,ECU
Grenada,8,1,0,0,1,0,0,0,0,0,8,1,0,0,1,GRN
Hong Kong,15,1,1,1,3,4,0,0,0,0,19,1,1,1,3,HKG
Israel,15,1,1,5,7,6,0,0,0,0,21,1,1,5,7,ISR
Luxembourg,22,1,1,0,2,8,0,2,0,2,30,1,3,0,4,LUX
Mozambique,9,1,0,1,2,0,0,0,0,0,9,1,0,1,2,MOZ
Panama,16,1,0,2,3,0,0,0,0,0,16,1,0,2,3,PAN
Peru,17,1,3,0,4,2,0,0,0,0,19,1,3,0,4,PER
Russian Empire,3,1,4,3,8,0,0,0,0,0,3,1,4,3,8,RU1
Serbia,3,1,2,4,7,2,0,0,0,0,5,1,2,4,7,SRB
Suriname,11,1,0,1,2,0,0,0,0,0,11,1,0,1,2,SUR
Syria,12,1,1,1,3,0,0,0,0,0,12,1,1,1,3,SYR
United Arab Emirates,8,1,0,0,1,0,0,0,0,0,8,1,0,0,1,UAE

### Question 3
Which country has the biggest difference between their summer gold medal counts and winter gold medal counts relative to their total gold medal count? 

$$\frac{Summer~Gold - Winter~Gold}{Total~Gold}$$

Only include countries that have won at least 1 gold in both summer and winter.

*This function should return a single string value.*

In [6]:
def answer_three():
    cp= df.copy()
    cp= cp[cp['Gold.2'] != 0]
    cp['Diff']= abs(cp['Gold']-cp['Gold.1'])/cp['Gold.2']
    con1= cp[cp['Diff'] == max(cp['Diff'])]
    con1= con1.drop(columns= ['Diff'])
    return con1
answer_three()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ
Azerbaijan,5,6,5,15,26,5,0,0,0,0,10,6,5,15,26,AZE
Bahamas,15,5,2,5,12,0,0,0,0,0,15,5,2,5,12,BAH
Brazil,21,23,30,55,108,7,0,0,0,0,28,23,30,55,108,BRA
Burundi,5,1,0,0,1,0,0,0,0,0,5,1,0,0,1,BDI
Cameroon,13,3,1,1,5,1,0,0,0,0,14,3,1,1,5,CMR
Chile,22,2,7,4,13,16,0,0,0,0,38,2,7,4,13,CHI
Colombia,18,2,6,11,19,1,0,0,0,0,19,2,6,11,19,COL
Costa Rica,14,1,1,2,4,6,0,0,0,0,20,1,1,2,4,CRC
Cuba,19,72,67,70,209,0,0,0,0,0,19,72,67,70,209,CUB
Denmark,26,43,68,68,179,13,0,1,0,1,39,43,69,68,180,DEN
Dominican Republic,13,3,2,1,6,0,0,0,0,0,13,3,2,1,6,DOM
Ecuador,13,1,1,0,2,0,0,0,0,0,13,1,1,0,2,ECU
Egypt,21,7,9,10,26,1,0,0,0,0,22,7,9,10,26,EGY
Ethiopia,12,21,7,17,45,2,0,0,0,0,14,21,7,17,45,ETH
Georgia,5,6,5,14,25,6,0,0,0,0,11,6,5,14,25,GEO
Greece,27,30,42,39,111,18,0,0,0,0,45,30,42,39,111,GRE
Grenada,8,1,0,0,1,0,0,0,0,0,8,1,0,0,1,GRN
Hong Kong,15,1,1,1,3,4,0,0,0,0,19,1,1,1,3,HKG
Hungary,25,167,144,165,476,22,0,2,4,6,47,167,146,169,482,HUN
India,23,9,6,11,26,9,0,0,0,0,32,9,6,11,26,IND
Indonesia,14,6,10,11,27,0,0,0,0,0,14,6,10,11,27,INA
Iran,15,15,20,25,60,10,0,0,0,0,25,15,20,25,60,IRI
Ireland,20,9,8,12,29,6,0,0,0,0,26,9,8,12,29,IRL
Israel,15,1,1,5,7,6,0,0,0,0,21,1,1,5,7,ISR
Jamaica,16,17,30,20,67,7,0,0,0,0,23,17,30,20,67,JAM
Kenya,13,25,32,29,86,3,0,0,0,0,16,25,32,29,86,KEN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Luxembourg,22,1,1,0,2,8,0,2,0,2,30,1,3,0,4,LUX
Mexico,22,13,21,28,62,8,0,0,0,0,30,13,21,28,62,MEX
Mongolia,12,2,9,13,24,13,0,0,0,0,25,2,9,13,24,MGL
Morocco,13,6,5,11,22,6,0,0,0,0,19,6,5,11,22,MAR
Mozambique,9,1,0,1,2,0,0,0,0,0,9,1,0,1,2,MOZ
New Zealand,22,42,18,39,99,15,0,1,0,1,37,42,19,39,100,NZL
Nigeria,15,3,8,12,23,0,0,0,0,0,15,3,8,12,23,NGR
Pakistan,16,3,3,4,10,2,0,0,0,0,18,3,3,4,10,PAK
Panama,16,1,0,2,3,0,0,0,0,0,16,1,0,2,3,PAN
Peru,17,1,3,0,4,2,0,0,0,0,19,1,3,0,4,PER
Portugal,23,4,8,11,23,7,0,0,0,0,30,4,8,11,23,POR
Romania,20,88,94,119,301,20,0,0,1,1,40,88,94,120,302,ROU
Russian Empire,3,1,4,3,8,0,0,0,0,0,3,1,4,3,8,RU1
Serbia,3,1,2,4,7,2,0,0,0,0,5,1,2,4,7,SRB
Serbia and Montenegro,3,2,4,3,9,3,0,0,0,0,6,2,4,3,9,SCG
South Africa,18,23,26,27,76,6,0,0,0,0,24,23,26,27,76,RSA
Suriname,11,1,0,1,2,0,0,0,0,0,11,1,0,1,2,SUR
Syria,12,1,1,1,3,0,0,0,0,0,12,1,1,1,3,SYR
Chinese Taipei,13,2,7,12,21,11,0,0,0,0,24,2,7,12,21,TPE
Thailand,15,7,6,11,24,3,0,0,0,0,18,7,6,11,24,THA
Trinidad and Tobago,16,2,5,11,18,3,0,0,0,0,19,2,5,11,18,TRI
Tunisia,13,3,3,4,10,0,0,0,0,0,13,3,3,4,10,TUN
Turkey,21,39,25,24,88,16,0,0,0,0,37,39,25,24,88,TUR
Uganda,14,2,3,2,7,0,0,0,0,0,14,2,3,2,7,UGA
United Arab Emirates,8,1,0,0,1,0,0,0,0,0,8,1,0,0,1,UAE
Uruguay,20,2,2,6,10,1,0,0,0,0,21,2,2,6,10,URU
Venezuela,17,2,2,8,12,4,0,0,0,0,21,2,2,8,12,VEN
Yugoslavia,16,26,29,28,83,14,0,3,1,4,30,26,32,29,87,YUG
Zimbabwe,12,3,4,1,8,1,0,0,0,0,13,3,4,1,8,ZIM
Mixed team,3,8,5,4,17,0,0,0,0,0,3,8,5,4,17,ZZX

### Question 4
Write a function that creates a Series called "Points" which is a weighted value where each gold medal (`Gold.2`) counts for 10 points, silver medals (`Silver.2`) for 5 points, and bronze medals (`Bronze.2`) for 3 point. The function should return only the column (a Series object) which you created.

*This function should return a Series named `Points` of length 146*

In [7]:
def answer_four():
    cp= df.copy()
    cp['Pts']= 10*cp['Gold.2'] + 5*cp['Silver.2'] + 3*cp['Bronze.2']
    Points= pd.Series(cp['Pts'])
    return Points
answer_four()

Afghanistan                             6
Algeria                                84
Argentina                             384
Armenia                                47
Australasia                            65
Australia                            2758
Austria                              1673
Azerbaijan                            130
Bahamas                                75
Bahrain                                 3
Barbados                                3
Belarus                               452
Belgium                               813
Bermuda                                 3
Bohemia                                14
Botswana                                5
Brazil                                545
British West Indies                     6
Bulgaria                             1198
Burundi                                10
Cameroon                               38
Canada                               2504
Chile                                  67
China                                3405
Colombia                               83
Costa Rica                             21
Ivory Coast                             5
Croatia                               198
Cuba                                 1265
Cyprus                                  5
                                    ...
Spain                                 783
Sri Lanka                              10
Sudan                                   5
Suriname                               13
Sweden                               3640
Switzerland                          1874
Syria                                  18
Chinese Taipei                         91
Tajikistan                             11
Tanzania                               10
Thailand                              133
Togo                                    3
Tonga                                   5
Trinidad and Tobago                    78
Tunisia                                57
Turkey                                587
Uganda                                 41
Ukraine                               667
United Arab Emirates                   10
United States                       17265
Uruguay                                48
Uzbekistan                            115
Venezuela                              54
Vietnam                                10
Virgin Islands                          5
Yugoslavia                            507
Independent Olympic Participants       11
Zambia                                  8
Zimbabwe                               53
Mixed team                            117
Name: Pts, Length: 146, dtype: int64

## Part 2
For the next set of questions, we will be using census data from the [United States Census Bureau](http://www.census.gov/popest/data/counties/totals/2015/CO-EST2015-alldata.html). Counties are political and geographic subdivisions of states in the United States. This dataset contains population data for counties and states in the US from 2010 to 2015. [See this document](http://www.census.gov/popest/data/counties/totals/2015/files/CO-EST2015-alldata.pdf) for a description of the variable names.

The census dataset (census.csv) should be loaded as census_df. Answer questions using this as appropriate.

### Question 5
Which state has the most counties in it? (hint: consider the sumlevel key carefully! You'll need this for future questions too...)

*This function should return a single string value.*

In [2]:
census_df = pd.read_csv('census.csv')
census_df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861

In [5]:
def answer_five():
    cdf= census_df.copy()
    cdf= cdf[cdf['SUMLEV'] == 50]
    ind= cdf['STNAME'].unique()
    m=0
    for i in ind:
        c= len(cdf[cdf['STNAME'] == i])
        if c>m:
            m= c
            state= i
    return state
answer_five()

'Texas'

### Question 6
Only looking at the three least populous counties for each state, what are the three most populous states (in order of highest population to lowest population)? Use `CENSUS2010POP`.

*This function should return a list of string values.*

In [6]:
def answer_six():
    cdf= census_df.copy()
    cdf= cdf[cdf['SUMLEV'] == 50]
    ind= cdf['STNAME'].unique()
    pop= []
    m= []
    for i in ind:
        temp= cdf[cdf['STNAME'] == i]
        m= temp['CENSUS2010POP'].values.tolist()
        m.sort()
        p= sum(m[0:3])            #doesnot accept p= m[0]+m[1]+m[2]. (list index out of bound) why??
        pop.append(p)
    ctpop= pd.Series(pop, index= ind)
    ctpop.sort_values(ascending= False, inplace= True)
    ans= [ctpop.index[0], ctpop.index[1], ctpop.index[2]]
    return ans
answer_six()

['Delaware', 'District of Columbia', 'Connecticut']

### Question 7
Which county has had the largest absolute change in population within the period 2010-2015? (Hint: population values are stored in columns POPESTIMATE2010 through POPESTIMATE2015, you need to consider all six columns.)

e.g. If County Population in the 5 year period is 100, 120, 80, 105, 100, 130, then its largest change in the period would be |130-80| = 50.

*This function should return a single string value.*

In [22]:
def answer_seven():
    cdf= census_df.copy()
    cdf= cdf[cdf['SUMLEV'] == 50]
    ctpop= []
    chlist= []
    for index, row in cdf.iterrows():
        ctpop.append(row['POPESTIMATE2010'])
        ctpop.append(row['POPESTIMATE2011'])
        ctpop.append(row['POPESTIMATE2012'])
        ctpop.append(row['POPESTIMATE2013'])
        ctpop.append(row['POPESTIMATE2014'])
        ctpop.append(row['POPESTIMATE2015'])
        change= max(ctpop) - min(ctpop)
        chlist.append(change)
        ctpop= []
    ctpopchange= pd.Series(chlist, cdf['CTYNAME'])
    ctpopchange.sort_values(ascending= False, inplace= True)
    return ctpopchange.index[0]
answer_seven()

'Harris County'

### Question 8
In this datafile, the United States is broken up into four regions using the "REGION" column. 

Create a query that finds the counties that belong to regions 1 or 2, whose name starts with 'Washington', and whose POPESTIMATE2015 was greater than their POPESTIMATE 2014.

*This function should return a 5x2 DataFrame with the columns = ['STNAME', 'CTYNAME'] and the same index ID as the census_df (sorted ascending by index).*

In [14]:
def answer_eight():
    cdf= census_df.copy()
    cdf= cdf[cdf['SUMLEV'] == 50]
    for index, row in cdf.iterrows():
        if (row['REGION'] == 3) or (row['REGION'] == 4):
            cdf.drop(index= index, inplace= True)
        cname= row['CTYNAME']
        if cname[:10] != 'Washington':
            cdf.drop(index= index,inplace= True, errors= 'ignore')
        if row['POPESTIMATE2015'] < row['POPESTIMATE2014']:
            cdf.drop(index= index, inplace= True, errors= 'ignore')
    cols= ['STNAME', 'CTYNAME']
    cdf= cdf[cols]
    cdf.reset_index()
    return cdf
answer_eight()

            STNAME            CTYNAME
896           Iowa  Washington County
1419     Minnesota  Washington County
2345  Pennsylvania  Washington County
2355  Rhode Island  Washington County
3163     Wisconsin  Washington County